<div class="container-fluid content_scroll">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="heading_box">
                <i class="fa-solid fa-diamond"></i>
            <h1 class="mb-0">{{ 'EINVESTMENT.H2' | translate}}</h1>
            </div>
        </div>
    </div>
    <div class="card card-2 py-3 px-3">    
        <div class="card-header">
            <h4>Declaration</h4>
        </div>
        <div class="card-body overflow-ys">
        <router-outlet></router-outlet>
        <div class="col-sm-12 size_p">
            <div class="h-50 d-inline-block" >
                <div class="row">
                    <div class="col-12">
                        
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h6>{{ 'EINVESTMENT.H6' | translate}}
                        </h6>
                        <hr>
                        <p>Please read these Terms and Conditions carefully before using this Site. By accessing this
                            Site and
                            any of its pages, you agree that the following Terms and Conditions apply to your use of
                            this Site,
                            any information obtained from this Site about our products and services. If you do not agree
                            to
                            these Terms and Conditions, do not use this site or download content from it.</p>
                        <hr>
                    </div>
                </div>

                <div class="col-12">
                    <h4>References</h4>
                </div>

                <div class="col-12">
                    <ul>
                        <li> References to 'you', 'your' and 'yours' are references to the person(s) accessing this
                            Site.</li>
                        <li> References to 'we', 'us' and 'our' are references to FAML.</li>
                    </ul>
                </div>

                <div class="col-12">
                    <h4>Terms</h4>
                    <hr>
                </div>
                <div class="col-12">
                    <p>
                        The information, material and content provided on this Site may be changed by us at any time and
                        from
                        time to time without any prior notice. Your continued access to or use of this Site will mean
                        that you
                        agree to all changes. If you have previously used this Site, your first use of the Site after
                        publication of these Terms indicates your acceptance of them.</p>
                </div>


                <div class="col-12">
                    <h4>Service Only Where Lawful</h4>
                    <hr>
                    <p>Our products and services are offered only in jurisdictions where and when they may be lawfully
                        offered
                        and the material on this site is not intended for use by persons located in or resident in
                        jurisdictions
                        which restrict the distribution of this material by us. Persons accessing these pages are
                        required to
                        inform themselves about and observe any relevant restrictions.</p>
                </div>

                <div class="col-12">
                    <h4>Investment Performance</h4>
                    <hr>
                    <p>All investments in Mutual Funds and Voluntary Pension Schemes are subject to market risks. Past
                        performance is not necessarily indicative of future results. Participants and prospective
                        participant’s
                        users are advised in their own interest to carefully read the contents of the offering document,
                        in
                        particular the risk factors and warnings before making any investment decision. Please note that
                        the
                        value of investments and the income derived from them may fluctuate and an investor may not
                        receive back
                        the amount originally invested and we do not guarantee any return on investments made by
                        Participants.
                    </p>
                </div>

                <div class="col-12">
                    <h4>No Warranties</h4>
                    <hr>
                    <p>Neither we, trustee nor any third party provide any warranty or guarantee as to the accuracy,
                        timeliness,
                        performance, completeness or suitability of the information and materials found or offered on
                        this
                        website for any particular purpose. You acknowledge that such information and materials may
                        contain
                        inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to
                        the
                        fullest extent permitted by law.</p>
                    <p>Whilst we have taken reasonable steps to ensure the accuracy,availability, correctness and
                        completeness
                        of the information contained on this Site, information is provided on an "as is", "as available"
                        basis
                        and we do not give or make any warranty or representation of any kind, whether expressed or
                        implied.
                        Your use of any information or materials on this Site is entirely at your own risk. We shall not
                        be
                        liable for any loss or damage whatsoever and howsoever arising as a result of your use of or
                        reliance on
                        the information contained on this Site. . It shall be your own responsibility to ensure that any
                        products, services or information available through this website meet your specific
                        requirements.</p>
                    <p>We do not represent or warrant that this Site will be available or that it will meet your
                        requirements,
                        that access will be uninterrupted, that there will be no delays, failures, errors or omissions
                        or loss
                        of transmitted information, that no viruses or other contaminating or destructive properties
                        will be
                        transmitted or that no damage will occur to your computer system. You have sole responsibility
                        for
                        adequate protection and back up of data and/or equipment and for undertaking reasonable and
                        appropriate
                        precautions to scan for computer viruses or other destructive properties.</p>
                    <p> We make no representations or warranties regarding the accuracy, functionality or performance of
                        any
                        third party software that may be used in connection with this Site.
                        Internet E-Mail</p>
                </div>

                <div class="col-12">
                    <h4>Internet E-Mail</h4>
                    <hr>
                    <p>Messages sent over the internet cannot be guaranteed to be completely secure or error free as
                        they are
                        subject to possible interception, corruption, delays, loss or possible alteration. We are not
                        responsible for them and will not be liable to you or anyone else for any damages or otherwise
                        in
                        connection with any messages sent by you to us or any message sent by us to you over the
                        internet. If
                        you send E-Mail (encrypted or not) to us over the internet, you are accepting the associated
                        risks of
                        lack of confidentiality.</p>
                </div>
                <div class="col-12">
                    <h4>Trade Marks And Copyright</h4>
                    <hr>
                    <p>This agreement constitutes the entire agreement between you and us with respect to using this
                        Site and it
                        supersedes all prior or contemporaneous communications and proposals, whether electronic, oral
                        or
                        written with respect to this Site. Your use of this website and any dispute arising out of such
                        use of
                        the website is subject to the laws of Pakistan.</p>
                </div>

                <div class="col-12">
                    <h4>General</h4>
                    <hr>
                    <p>If you are dissatisfied with any portion of this Site, or with any of these Terms of use, your
                        sole and
                        exclusive remedy is to discontinue using this Site.</p>
                    <p>We reserve the right in our sole discretion to deny any user access to this Site, any interactive
                        service
                        herein, or any portion of this Site without notice, and the right to change the terms,
                        conditions and
                        notices under which this Site is offered. Any rights not expressly granted herein are reserved.
                    </p>
                </div>

                <div class="col-12">
                    <h4>Statutory Details And Risk Factors</h4>
                    <hr>
                    <p>Investors may obtain constitutive documents along with application forms from the offices of
                        PAkOMAN or
                        can be downloaded from the company website accessible at www.PAkOMANFunds.com.</p>
                </div>

                <div class="col-12">
                    <h4>Risk Factors</h4>
                    <hr>
                    <p>All investments in mutual funds and securities are subject to market risks and the Net Asset
                        Value (NAV)
                        of the Scheme(s) may go up or down depending on the factors and forces affecting the securities
                        markets.
                        There can be no assurance that the objectives of the Scheme(s) will be achieved. Past
                        performance does
                        not indicate the future performance of Mutual Funds and Voluntary Pension Schemes.</p>
                </div>

                <div class="col-12">
                    <h4>Purchase Prices</h4>
                    <hr>
                    <p>Units of the Scheme(s) are being offered at NAV based prices. The AMC calculates and publishes
                        Net Asset
                        Values (NAV's); offer and redemption prices on all Business Days, in line with their
                        constitutive
                        documents. Each fund / plan has its own cut-off timings for submission of transaction requests
                        for
                        purchase of units. Applicable cut-off timings are made available on the company website at
                        www.pakomanfunds.com.</p>
                    <p>In case of submission of an e-transaction, the PAkOMAN Funds Online system date and time stamp
                        will
                        solely be considered and given precedence to determine the cut-off time in which the application
                        request
                        is submitted and the applicability of the NAV on the transaction. PAkOMAN will not be
                        responsible for
                        any network or system delays in submitting and receiving the application request.</p>
                    <p>The online module will not be offered to corporate investors to transfer PF contribution of
                        individuals
                        for Voluntary Pension Scheme</p>
                </div>

                <div class="col-12">
                    <h4>Load Deduction</h4>
                    <hr>
                    <p>The PAkOMAN may charge sales load 0% to 1.5% of NAV per unit or any amount as directed by SECP
                        and/(or)
                        defined in constitutive documents of the fund, where transactions are done online or through a
                        website
                        in the funds under management of Pak Oman Asset Management Company Ltd.</p>
                </div>

                <div class="col-12">
                    <h4>Transaction Fee</h4>
                    <hr>
                    <p>Fund transfer via Kuickpay will be subject to transaction fee as follows</p>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Transactoin slab (PKR)</th>
                                        <th>Commission (PKR) Excluding Tax</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1- 10,000</td>
                                        <td>20</td>

                                    </tr>
                                    <tr>
                                        <td>10,001 to 250,000</td>
                                        <td>60</td>

                                    </tr>
                                    <tr>
                                        <td>250,001 to 1,000,000</td>
                                        <td>100</td>

                                    </tr>
                                    <tr>
                                        <td>Over 1,000,000</td>
                                        <td>200</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p>Transaction fee is payable to Kuickpay and 1LINK and will be deducted from the investor’s
                            respective
                            bank account. PAkOMAN will receive funds after deduction of transaction fee from Kuickpay.
                        </p>
                        <div class="col-2"></div>
                    </div>
                </div>

                <div class="col-12">
                    <h4>Zakat Deduction</h4>
                    <hr>
                    <p>Zakat will be deducted at the time of redemption of units if a duly filled and signed Zakat
                        Affidavit
                        Form is not provided to the company for its records. It will be the investors' responsibility to
                        provide
                        the Affidavit if he/she wishes that Zakat may not be deducted. It is also the investors'
                        responsibility
                        to confirm if Zakat status is marked as 'Not Applicable' in the company's records if the
                        Affidavit has
                        been submitted.</p>
                </div>

                <div class="col-12">
                    <h4>Disclaimer</h4>
                    <hr>
                    <p>Please note that if payment from investor is not received within twenty four (24) hours of the
                        generation
                        of the Voucher Number from the PAkOMAN Funds online website the Voucher Number will expire. Upon
                        expiry
                        of Voucher Number, fresh online investment request will have to be submitted in order to make an
                        online
                        investment transaction. This expiry period is subject to revision as per the discretion of the
                        management, however, any change will be notified to the investors in the reference number Email
                        and SMS.
                    </p>
                </div>

                <div class="col-12">
                    <h4>Rejection Of E-Transaction Requests</h4>
                    <hr>
                    <p>Your e-transaction request may be rejected if there is any discrepancy or incomplete information
                        in the
                        request that is submitted. In case an e-transaction request is rejected, the rejected request
                        will be
                        cancelled and a new request will have to be submitted and a refund of amount process will be
                        initiated.
                    </p>
                </div>

                <div class="col-12">
                    <h4>Refund Of Amount In Case Of Rejection Of E-Transaction</h4>
                    <hr>
                    <ul>
                        <li>In case the discrepancy is not resolved within 15 days of the transaction the amount so
                            credited in
                            the fund's bank account will be refunded.</li>
                        <li>Refund letter will be initiated by Faysal Funds and will be sent to the Trustee after
                            signing it by
                            the authorized signatories, along with the copies of relevant documents.</li>
                        <li>The Trustee upon satisfaction will arranges refund of the amount to the investor through
                            online
                            transfer in customer Bank Account.</li>
                        <li>The turnaround time for the refunds is 4 business day form the initiation of the refund
                            process by
                            Faysal Funds.</li>
                    </ul>
                </div>

                <div class="col-12">
                    <h4>Refund of Amount In Case of receipt of Investment proceeds from Third Party</h4>
                    <hr>
                    <p>Your e-transaction request may be rejected if there is any discrepancy or incomplete information
                        in the
                        request that is submitted. In case an e-transaction request is rejected, the rejected request
                        will be
                        cancelled and a new request will have to be submitted and a refund of amount process will be
                        initiated.
                    </p>
                </div>


                <div class="col-12">
                    <h4>Dispute Resolution Mechanism</h4>
                    <hr>
                    <p>In case of any compliant due to any technical reason the investor can follow the below mentioned
                        process:
                        Step 1: Investor can call the toll free number i.e. 111-090-090 or lodge compliant via PAkOMAN
                        Funds
                        Online Portal Step 2: After lodging complaint in system complaint will be forwarded to relevant
                        department. Investor will be provided reference number via email and sms for tracking. Step 3:
                        After
                        necessary investigation, the complaint will be forwarded to vendor i.e. 1-link to investigate
                        the issue
                        further. Step 4: Resolution call along with email and SMS will be communicated to investor. The
                        turnaround time for resolution by PAkOMAN Funds is 3 business days however, cases which are
                        referred to
                        the vendor i.e. 1-link may take additional 3 business days for resolution.</p>
                </div>

                <div class="col-12">
                    <h4>Dispute Resolution Mechanism</h4>
                    <hr>
                    <p>In case of any compliant due to any technical reason the investor can follow the below mentioned
                        process:
                        Step 1: Investor can call the toll free number i.e. 111-090-090 or lodge compliant via PAkOMAN
                        Funds
                        Online Portal Step 2: After lodging complaint in system complaint will be forwarded to relevant
                        department. Investor will be provided reference number via email and sms for tracking. Step 3:
                        After
                        necessary investigation, the complaint will be forwarded to vendor i.e. 1-link to investigate
                        the issue
                        further. Step 4: Resolution call along with email and SMS will be communicated to investor. The
                        turnaround time for resolution by PAkOMAN Funds is 3 business days however, cases which are
                        referred to
                        the vendor i.e. 1-link may take additional 3 business days for resolution.</p>
                </div>

                <div class="col-12">
                    <h4>Multiple Transactions</h4>
                    <hr>
                    <p>In case multiple transactions (through physical form submission and/or e-transaction request
                        submission)
                        involving a single or multiple funds / plans are received from an investor, the applications
                        will be
                        processed in chronological order i.e. the application received first will be processed first.
                    </p>
                </div>

                <div class="col-12">
                    <h4>Submission Of Physical Signed Form Or Other Documents</h4>
                    <hr>
                    <p>PAkOMAN may on a case to case basis require an investor to submit a physical form (of the same
                        transaction) in addition to his / her e-transaction request.</p>
                </div>

                <div class="col-12">
                    <h4>Verifications Of E-Transaction Requests</h4>
                    <hr>
                    <p>The PAkOMAN from time to time on a case to case basis may require verification from the investor
                        prior to
                        processing the investors' e-transaction request.</p>
                </div>


                <div class="col-12">
                    <h4>Book Closure Periods</h4>
                    <hr>
                    <p>All E-Transaction Request received during the book closure period pertaining to respective funds
                        / plans
                        shall be marked Rejected and the investment amount will be refunded to the investor as per
                        procedure.
                    </p>
                </div>


                <div class="col-12">
                    <h4>Security Of PAkOMAN Funds Online Credentials</h4>
                    <hr>
                    <p>You agree that any person who supplies PAkOMAN with your PAkOMAN Funds Online user name,
                        password, and
                        E-transaction request PIN Code (where applicable) will be allowed access to the Site and to your
                        Account. It is the responsibility of the investor to keep his / her username, password and
                        E-transaction
                        request PIN secure and take steps to prevent unauthorized use of them. You must not tell or
                        disclose
                        them to another person or allow them to be seen by another person (including family or friends).
                        You
                        must not keep a record of them in a way which can be determined by another person. You must not
                        record
                        them together.</p>
                    <p>You must notify PAkOMAN immediately if a record of your login credentials and PIN is lost or
                        stolen or
                        you become aware or suspect another person knows your online credentials and has attempted to or
                        made
                        unauthorized use of the Site. PAkOMAN may cancel your Online credentials at any time without
                        notice if
                        it believes either is being misused.</p>
                </div>

                <div class="col-12">
                    <h4>Records And Statements</h4>
                    <hr>
                    <p>You should carefully check Account records and statements given on this Site. If you believe that
                        there
                        has been any discrepancy or inconsistency in any transaction on this Site, or an unauthorized
                        transaction, you must notify PAkOMAN immediately. Failure to do so may render you liable for
                        unauthorized transaction which you may not have otherwise initiated/endorsed.</p>
                    <p>Our records, unless proven to be wrong, will be evidence of your dealings with PAkOMAN in
                        connection with
                        the Site.</p>
                </div>


                <div class="col-12">
                    <h4>Liability For Unauthorized E-Transactions</h4>
                    <hr>
                    <p>You will be liable for any loss of funds arising from any unauthorized e-transaction on your
                        Account if
                        the loss occurs before you notify PAkOMAN that your Online Credentials have been misused, lost
                        or stolen
                        or become known to someone else and if you contribute to the loss because of your failure to
                        look after
                        and keep your Online credentials secure or your extreme carelessness in failing to protect their
                        security is the dominant cause of your loss; Or your unreasonable delay in notifying PAkOMAN of
                        the
                        misuse, loss or theft of your Online Credentials becoming known to someone else and the loss
                        occurs
                        between the time you did become aware of and notify to PAkOMAN.</p>
                    <p>You will not be liable for losses which are incurred before you have received your Online
                        credentials; if
                        the e-transaction occurs after you notify PAkOMAN that your Online Credentials have been misused
                        or
                        become known to someone else.</p>
                </div>

                <div class="col-12">
                    <h4>Liability</h4>
                    <hr>
                    <p>You will be liable for and agree to indemnify PAkOMAN against any loss or damage PAkOMAN and any
                        of the
                        Fund (including its Trustee) under its Management may suffer because you did not observe your
                        obligations under these Terms or acted negligently or fraudulently when using this Site. PAkOMAN
                        and any
                        of the Fund (including its Trustee) under its Management will not be responsible for any loss
                        that you
                        may incur if you fail to comply with the terms. The use of the Internet is subject to other
                        risks which
                        are not of a security nature described above but which arise from factors beyond PAkOMAN '
                        control, for
                        example failure of communication networks, mechanical failures, power failures, malfunction,
                        breakdown
                        or inadequacy of equipment. These risks may result in your e-transaction requests being delayed,
                        lost or
                        inaccurately transmitted and may cause you to suffer losses. Unless PAkOMAN has been grossly
                        negligent,
                        the company will not be responsible for such losses. In no event will we be liable for any loss
                        or
                        damage including without limitation, indirect or consequential loss or damage, or any loss or
                        damage
                        whatsoever arising from loss of data or profits arising out of, or in connection with, the use
                        of this
                        website.</p>
                </div>

                <div class="col-12">
                    <h4>Termination</h4>
                    <hr>
                    <p>You may stop your use of the PAkOMAN Funds Online Service in its entirety at any time by giving
                        written
                        notice to PAkOMAN. PAkOMAN may terminate the Service at any time by giving you a written notice
                        within 3
                        working days</p>
                </div>

                <div class="col-12">
                    <h4>Special Note</h4>
                    <hr>
                    <p>Due to any technical / operational reason, fund transfer may be delayed. In such case, please
                        contact our
                        customer care help line number 111-090-090 for further facilitation. Funds are transferred as
                        per TATs
                        (Turn-Around-Time) defined by respective authorities (Bank, SECP, SBP, 1-Link).</p>
                </div>

            </div>
          

            <!--
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">

        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">E-INVESTMENT</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Min. Inv.Amt</th>
                                        <th scope="col">Min. Reinv.Amt</th>
                                        <th scope="col">Bal. Units</th>
                                        <th scope="col">Req. Units</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dtl of dataDtl">
                                        <th scope="row" > <input class="form-check-input" type="checkbox" (change)="selectFund($event, dtl.PRD_NAME)"></th>
                                        <td>{{dtl.PRD_NAME}}</td>
                                        <td>{{dtl.PUT_MININVESTMENTAMOUNT}}</td>
                                        <td>{{dtl.PUT_MINREINVESTMENTAMOUNT}}</td>
                                        <td>{{dtl.BALANACEUNITS}}</td>
                                        <td>{{dtl.PUT_MINBALANCEREQUIRED}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <form>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12">
                                    <h3>Add Request </h3>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <label for="inputProduct">Product Name</label>
                                <input class="form-control" id="ProductName" name="ProductName" type="text" value="{{productName}}" placeholder="" disabled>
                            </div>
                            <div class="col-12">
                                <label for="inputAmount">Requested Amount</label>
                                <input type="text" class="form-control" placeholder="0.00">
                            </div>

                            <div class="col">
                                <input class="form-check-input" type="checkbox" checked="true" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                    Request for Front End Load Waiver
                                </label>
                            </div>
                        </div>
                    </form>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-danger" (click)="closePopup()">Close</button>
                </div>
            </div>
        </div>

    </div>
    -->
        </div>
    </div>
    <div class="header-footer">
        <div class="row">

            <div class="col-sm-12 text-center p-2">
                <button routerLink="./investment-details/:id={{AccSysCode}}"
                    class="mt-20 w-10 btn orange btn-block col-2 offset-lg-4 mx-1">Agree</button>
                <button class="mt-20 w-10 btn orange btn-block col-2" (click)=closePopup()>Disagree</button>

            </div>
          
        </div>
    </div>
    </div>
   
    
</div>