<section class="background-radial-gradient overflow-hidden circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <div id="radius-shape-1" class="position-absolute  shadow-5-strong"></div>
    <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
    <app-backtologin></app-backtologin>
    <div class="container px-5 py-1 px-md-5 text-center  my-4">
        <div class="row" style="z-index: 9999">
          <div class="col-lg-12 mb-5  mb-lg-0 position-relative">
            <h1 class="invest_heading">
                Registration of Investors </h1>
        </div>
        </div>
    </div>
    <div class="container px-4 py-0 px-md-5 text-center my-2">
        <div class="row gx-lg-5 align-items-center mb-5" style="z-index: 9999">
          <div class="col-lg-4 mb-5  mb-lg-0 position-relative">
             <!-- newcard -->
             <div class="father">
                <div class="front">
                    <header>Register as a Corporate Investor</header>
                    <p>Manage the investment of your Corporaate Funds. From cash management to long term Investment, we have
                        options that are best syited to your institutional needs.</p>
            <button type="submit" class="btn orange"  (click)="gotoRegistercorporateuser()">Register</button>
                </div>
            </div>
            <!-- newcard -->
          </div>
          <div class="col-lg-4 mb-5 mb-lg-0 position-relative">
             <!-- newcard -->
                  <div class="father">
                    <div class="front">
                        <header>Register as a Individual Investor</header>
                      
                        <p style="margin-bottom: 40px;">Manage your own savings and Investments. The broad array of investment options offered by POAMCL cover multiple risk/return profiles to enable you to make an investment appropriate for your needs.</p>
                <button type="submit"  class="btn orange" (click)="gotoRegisternewuser()">Register</button>
                    </div>
                </div>
                <!-- newcard -->
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0 position-relative">
                    <!-- newcard -->
                    <div class="father">
                        <div class="front">
                            <header>Register as a Pension Investor</header>
                          
                            <p>Manage your employee retirement funds and enddowmwent plans with confidence through
                                our professional
                                advisory services and wide product range.</p>
                    <button type="submit" class="btn orange" (click)="gotoRegisternewuser()">Register</button>
                        </div>
                    </div>
                    <!-- newcard -->
            </div>
          </div>
        </div>
  </section>
