<div class="container">
        <div class="row"><div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="card">
                    <h2 class="head py-2"> </h2>
                    <form class="user-login" [formGroup]="loginForm" (ngSubmit)="onLogin()">
                        <div class="row">

                            <div class="col-md-12 roundedTextBox mb-3">
                                <label class="font-weight-bold">Password</label>
                                <hr>
                                <input type="password" class="form-control mb-2" id="password"
                                    formControlName="password" placeholder="Enter Password">

                                <a [routerLink]="['/forgetpassword']" routerLinkActive="active">Forget Password</a>

                                <div *ngIf="!formControl['password'].valid && (formControl['password'].dirty 
                                    || formControl['password'].touched)" class="password-reminder">
                                    <p class="text-danger">Valid Password required </p>
                                </div>
                            </div>
                        </div>
                        <br>


                        <div class="row">
                            <div class="col-12">
                                <button class="mt-20 w-100 btn btn-primary btn-lg" type="submit">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row"><div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="d-flex justify-content-center">Powered by Sidat Hyder Applications Solution.</div>
            </div>
            <div class="col-sm-4"></div>
        </div>    
</div>